<h1>New productcategory</h1>

<%= render 'form' %>
<div>
    <button   id="button1" >date</button>
    <p id="p1">fdsf</p>
    <div class="some_trigger">Hover me!</div>
    
  </div>
<%= link_to 'Back', productcategories_path %>
