// Place all the styles related to the productcategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show
 {
 	width:30%;
 	height:100%;
 	background-color: #B2B2B2;
 }
 .interactionContainer
 {
 	width:100%;
 	height:100%;
 	background-color: #33CCFF;
 }
